<header class="header-wrapper">
  <div class="header">
    <div class="header-logo">
      <img src="../../assets/img/Logo.svg" alt="">
    </div>
    <div class="header-user">
      <img src="../../assets/img/Ellipse.svg" alt="">
      <span class="header-user__name">My Account</span>
    </div>
  </div>
</header>
