.header
  width: 1440px
  padding: 18px 168px 18px 154px
  display: flex
  justify-content: space-between
  align-items: center
  @media screen and (max-width: 1440px)
    width: 100%
    padding: 18px 24px 18px 24px
  @media screen and (max-width: 500px)
    padding: 10px 11px;
  &-wrapper
    display flex
    width 100%
    background: #2C2E39
    justify-content: center;
    align-items: center;
  &-logo
    img
      @media screen and (max-width: 500px)
        height: 31px;

  &-user
    display flex
    align-items: center
    img 
      margin-right: 12px
      @media screen and (max-width: 500px)
        height: 40px;
    &__name
      font-family: Montserrat
      font-style: normal
      font-weight: 600
      font-size: 12px
      line-height: 32px
      color: #FFFFFF;
      @media screen and (max-width: 500px)
        display: none;
      

  
  