.footer
  width: 1440px
  padding: 30px 0; 
  display: flex
  justify-content: center
  align-items: center
  @media screen and (max-width: 1440px)
    width: 100%
  &-wrapper
    display flex
    width 100%
    background: #2C2E39
    justify-content: center;
    align-items: center;
  