<app-header></app-header>
<div class="risk__wrapper">
  <form class="risk">
      <div class="status">
          <p class="status__headline">60% Complete</p>
          <svg width="100%" height="8" viewBox="0 0 760 8" fill="none" xmlns="http://www.w3.org/2000/svg">
            <rect width="760" height="8" fill="#F5F6FA"/>
            <rect width="396" height="8" fill="#3BBF38"/>
            </svg>                  
        </div>
    <h1 class="risk__headline">Risk Assesment & Investment Preferences</h1>
    <p class="risk__text">
        To be considered an accredited investor you must meet certain qualifications regarding your financial standing.
    </p>
    <div class="item__wrapper">
      <div class="item">
        <p class="item__headline">INVESTMENT STRUCTURE</p>
        <label class="check option">
          <input class="check__input" type="checkbox">
          <span class="check__box"></span>
            Primary Offering
        </label>
        <label class="check option">
          <input class="check__input" type="checkbox">
          <span class="check__box"></span>
           Secondary Trading
        </label>
      </div>
      <div class="item item-left">
          <p class="item__headline">REGIONS</p>
          <label class="check option">
            <input class="check__input" type="checkbox">
            <span class="check__box"></span>
              Domestic
          </label>
          <label class="check option">
            <input class="check__input" type="checkbox">
            <span class="check__box"></span>
             International
          </label>
        </div>
    </div>
    <div class="item__wrapper">
        <div class="item">
          <p class="item__headline">INVESTMENT SIZE</p>
          <label class="radio option">
              <input class="radio__input" name="radio-group" type="radio">
              <span class="radio__box"></span>
              Under $500k
          </label>
          <label class="radio option">
              <input class="radio__input" name="radio-group" type="radio">
              <span class="radio__box"></span>
              $500k - $1m
          </label>
          <label class="radio option">
              <input class="radio__input" name="radio-group" type="radio">
              <span class="radio__box"></span>
              $1m - $5m
          </label>
          <label class="radio option">
              <input class="radio__input" name="radio-group" type="radio">
              <span class="radio__box"></span>
              $5m - $10m
          </label>
          <label class="radio option">
              <input class="radio__input" name="radio-group" type="radio">
              <span class="radio__box"></span>
              $10m and more
          </label>
        </div>
        <div class="item item-left">
            <p class="item__headline">ASSET TYPE</p>
            <label class="check option">
              <input class="check__input" type="checkbox">
              <span class="check__box"></span>
                Equity
            </label>
            <label class="check option">
              <input class="check__input" type="checkbox">
              <span class="check__box"></span>
               Debt
            </label>
            <label class="check option">
                <input class="check__input" type="checkbox">
                <span class="check__box"></span>
                 Funds
            </label>
            <label class="check option">
                <input class="check__input" type="checkbox">
                <span class="check__box"></span>
                 Credit
            </label>
          </div>
      </div>
      <p class="item__headline">SELECT SECTORS THAT INTEREST YOU</p>
      <div class="item__wrapper item__wrapper-grid">
          <!-- <div class="item"> -->
            <label class="check option">
              <input class="check__input" type="checkbox">
              <span class="check__box"></span>
                Real Estate
            </label>
            <label class="check option">
              <input class="check__input" type="checkbox">
              <span class="check__box"></span>
              Technology
            </label>
            <label class="check option">
                <input class="check__input" type="checkbox">
                <span class="check__box"></span>
                Energy
            </label>
            <label class="check option">
                <input class="check__input" type="checkbox">
                <span class="check__box"></span>
                Healthcare
            </label>
          <!-- </div> -->
          <!-- <div class="item item-sectors"> -->
              <label class="check option">
                <input class="check__input" type="checkbox">
                <span class="check__box"></span>
                Consumer Goods
              </label>
              <label class="check option">
                <input class="check__input" type="checkbox">
                <span class="check__box"></span>
                Agrixulture
              </label>
              <label class="check option">
                  <input class="check__input" type="checkbox">
                  <span class="check__box"></span>
                  Infrastructure
                </label>
                <label class="check option">
                  <input class="check__input" type="checkbox">
                  <span class="check__box"></span>
                  Industrial
                </label>
            <!-- </div> -->
            <!-- <div class="item item-sectors"> -->
                <label class="check option">
                  <input class="check__input" type="checkbox">
                  <span class="check__box"></span>
                  Impact
                </label>
                <label class="check option">
                  <input class="check__input" type="checkbox">
                  <span class="check__box"></span>
                  Alternatives
                </label>
                <label class="check option">
                    <input class="check__input" type="checkbox">
                    <span class="check__box"></span>
                    Financial
                  </label>
                  <label class="check option">
                    <input class="check__input" type="checkbox">
                    <span class="check__box"></span>
                    Entertaiment
                  </label>
              <!-- </div> -->
        </div>
        <div class="item__wrapper">
            <div class="item">
              <p class="item__headline">RISK TOLERANCE</p>
              <label class="radio option">
                  <input class="radio__input" name="radio-group-2" type="radio">
                  <span class="radio__box"></span>
                  Conservative
              </label>
              <label class="radio option">
                  <input class="radio__input" name="radio-group-2" type="radio">
                  <span class="radio__box"></span>
                  Moderately Conservative
              </label>
              <label class="radio option">
                  <input class="radio__input" name="radio-group-2" type="radio">
                  <span class="radio__box"></span>
                  Moderate
              </label>
              <label class="radio option">
                  <input class="radio__input" name="radio-group-2" type="radio">
                  <span class="radio__box"></span>
                  Moderately Aggresive
              </label>
              <label class="radio option">
                  <input class="radio__input" name="radio-group-2" type="radio">
                  <span class="radio__box"></span>
                  Aggresive
              </label>
            </div>
            <div class="item item-left">
                <p class="item__headline">INVESTMENT OBJECTIVES</p>
                <label class="check option">
                  <input class="check__input" type="checkbox">
                  <span class="check__box"></span>
                  Preservation of Capital
                </label>
                <label class="check option">
                  <input class="check__input" type="checkbox">
                  <span class="check__box"></span>
                   Income
                </label>
                <label class="check option">
                    <input class="check__input" type="checkbox">
                    <span class="check__box"></span>
                    Capital Apprecattion
                </label>
                <label class="check option">
                    <input class="check__input" type="checkbox">
                    <span class="check__box"></span>
                    Speculation
                </label>
              </div>
          </div>
            <p class="item__headline">INVESTING EXPERIENCE</p>
            <div class="item">
              <div class="item__wrapper item__wrapper-radio">
                  <label class="radio option item-label">
                      <input class="radio__input" name="radio-group-3" type="radio">
                      <span class="radio__box"></span>
                      1
                  </label>
                  <label class="radio option item-label">
                      <input class="radio__input" name="radio-group-3" type="radio">
                      <span class="radio__box"></span>
                      2
                  </label>
                  <label class="radio option item-label">
                      <input class="radio__input" name="radio-group-3" type="radio">
                      <span class="radio__box"></span>
                      3
                  </label>
                  <label class="radio option item-label">
                      <input class="radio__input" name="radio-group-3" type="radio">
                      <span class="radio__box"></span>
                      4
                  </label>
                  <label class="radio option item-label">
                      <input class="radio__input" name="radio-group-3" type="radio">
                      <span class="radio__box"></span>
                      5
                  </label>
              </div>
            </div>
    <div class="risk__button-container">
      <button class="risk__button button-do-it-later"> Do it Later</button>
      <!-- <div class="risk__button risk__button-save"></div> -->
      <a class="risk__button-link" routerLink='/terms-of-use'>
        <button class="btn risk__button-save">
            <span class="btn-text">Save & Continue</span>
            <span class="btn-arrow">
              <i class="btn-arrow__icon"></i>
            </span>
        </button>
    </a>
    </div>
  </form>
</div>
<app-footer></app-footer>