*{
  // margin: 0;
  // padding: 0;
  box-sizing: border-box;
}
.risk{
  background: #FFFFFF;
  width 100%;
  max-width: 928px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  margin: 0 auto;
  padding: 0 84px;
  padding-bottom: 80px;
  padding-top: 11px;
   @media screen and (max-width: 650px){
      padding-left: 40px;
      padding-right: 40px;
      }
  @media screen and (max-width: 500px){
    padding-bottom: 100px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 7px;
    }
  &__text{
    width: 60%;
    margin: 0 auto;
    font-size: 14px;
    line-height: 18px;
    text-align: center;
    color: #5A6379;
    margin-bottom: 40px;
    display: none;
    @media screen and (max-width: 500px){
      display: block;
      font-size: 13px;
      line-height: 18px;
      width: 100%;
      margin-bottom: 16px;
    }
  }
  &__wrapper{
    width: 100%;
    background: #E4E4E4;
    padding: 40px 0px;
    margin: 0 auto;
    @media screen and (max-width: 950px){
      background-color: white;
      }
    @media screen and (max-width: 600px){
      padding: 0;
      }
    }
  &__headline{
    width: 90%;
    margin: 0 auto;
    padding: 0;
    font-weight: bold;
    font-size: 40px;
    line-height: 48px;
    text-align: center;
    color: #151515;
    margin-bottom: 22px;
    @media screen and (max-width: 600px){
        width: 100%;
        font-size: 24px;
        line-height: 32px;
        margin-bottom: 8px;
      }
  }
    &__button{
      @media screen and (max-width: 500px){
        order: 2;
      }
      &-link{
      width: 260px !important;
      @media screen and (max-width: 500px){
        width: 100% !important;
        }
      }
      &-container{
        display: flex;
        justify-content: space-between;
        margin-top: 20px;
        @media screen and (max-width: 500px){
          flex-direction: column;
        }
      }
      &-later{
        width: 132px;
        height: 56px;
        border: 1px solid #B0B4BE;
        box-sizing: border-box;
        border-radius: 2px;
        }
      &-save{
        max-width: 260px !important;
          @media screen and (max-width: 500px){
          order: 1;
          width: 100% !important;
          margin-bottom: 24px;
          max-width: 460px !important;
        }
      }
    }
  .item{
    // width: 50%;
    flex: 1;
      @media screen and (max-width: 500px){
        width: 100%;
        flex: none;
        margin-bottom: -8px;
        }
    &-left{
      margin-left: 34px;
      @media screen and (max-width: 600px){
      margin-left: 0px;
      }
    }
    &-sectors{
      margin-left: 15px;
      @media screen and (max-width: 600px){
      margin-left: 0px;
      }
      }
    &-label{
      margin-right: 78px;
      @media screen and (max-width: 600px){
        margin-right: 0px;
      }
      @media screen and (max-width: 500px){
        width: 50%;
      }
      }
    &__headline{
      padding:0;
      font-weight: 500;
      font-size: 14px;
      line-height: 24px;
      letter-spacing: 1px;
      text-transform: uppercase;
      color: #151515;
      margin-bottom: 24px;
    }
    &__wrapper{
      display: flex;
      width: 100%;
      @media screen and (max-width: 500px){
          margin-bottom: 2px;
        }
      &-grid{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        @media screen and (max-width: 600px){
          grid-template-columns: 1fr 1fr;
        }
      }
      &-radio{
        @media screen and (max-width: 500px){
          justify-content: flex-start !important;
        }
      }
      @media screen and (max-width: 600px){
        justify-content: space-evenly;
      }
      @media screen and (max-width: 500px){
        flex-wrap: wrap;
      }
    }
  }
  .status {
    margin-bottom: 73px;
    @media screen and (max-width: 650px){
        margin-bottom: 28px;
      }
      &__headline {
        font-size: 14px;
        line-height: 18px;
        text-align: center;
        color: #5A6379;
        @media screen and (max-width: 500px){
        margin-bottom: 12px;
      }
      }
  }
}