<app-header></app-header>
<div class="build-account-wrapper">
  <div class="build-account">
    <div class="build-account-head">
      <p class="build-account-head-p">20% Complete</p>
      <svg width="100%" height="8" viewBox="0 0 760 8" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect width="760" height="8" fill="#F5F6FA"/>
        <rect width="114" height="8" fill="#3BBF38"/>
        </svg>
    </div>
    <h1 class="build-account-title">Lets Build Your Account</h1>
    <h2 class="build-account-subtitle">Please enter fill out to gain access to our Service</h2>
    <form [formGroup]="myform"
    (ngSubmit)="onSubmit()"action="" class="build-account__form" >
      <div class="build-account__form-item form-control">
        <input type="text" class="form__field" required>
        <span class="form__field-placeholder">{{name}}</span>
      </div>
      <div class="build-account__form-item  form-control">
        <input type="text" class="form__field" required>
        <span class="form__field-placeholder">{{title}}</span>
      </div>
      <div class=" build-account__form-item  form-control">
        <input type="text" class="form__field" required>
        <span class="form__field-placeholder">{{address}}</span>
      </div>
      <div class="build-account__form-item form-control">
          <select class="form__field build-account__form-item-font" required>
              <option value="Israel">Israel</option>
              <option value="States">United States</option>
              <option value="Switzerland">Switzerland</option>
              <option  value="Japan">Japan</option>
              <option value="Canada">Canada</option>
              <option value="Germany">Germany</option>
              <option value="United Kingdom">United Kingdom</option>
              <option value="Sweden">Sweden</option>
              <option value="Australia">Australia</option>
              <option value="Norway">Norway</option>
              <option value="France">France</option>
            </select>
          <span class="form__field-placeholder">{{country}}</span>
      </div>
      <div class="build-account__form-item center">
        <div class="build-account__form-width form-control">
          <input type="text" class="build-account__form__col__row-input form__field " required>
          <span class="form__field-placeholder">{{state}}</span>
        </div>
        <select name="city" id="city" class="build-account__form__col__row-select">
          <option value="CL" disabled selected class="build-account__form__col__row-select-option">CL</option>
          <option value="AZ">AZ</option>
          <option value="CA">CA</option>
          <option value="CO">CO</option>
          <option value="GA">GA</option>
          <option value="IL">IL</option>
          <option value="IN">IN</option>
          <option value="LA">LA</option>
          <option value="MA">MA</option>
          <option value="MO">MO</option>
          <option value="NV">NV</option>
          <option value="NY">NY</option>
          <option value="OR">OR</option>
          <option value="PA">PA</option>
        </select>
      </div>
      <div class="build-account__form-item form-control">
        <input type="text" class="form__field" required formControlName="zip">
        <span class="errors" *ngIf="zip.invalid && valid">invalid zip code</span>
        <span class="form__field-placeholder">{{code}}</span>
      </div>
      <div class="build-account__form-item form-control">
        <input type="text" class="form__field" required formControlName="telephone">
        <span class="errors" *ngIf="telephone.invalid && valid">invalid phone</span>
        <span class="form__field-placeholder">{{phone}}</span>
      </div>
      <div class=" build-account__form-item form-control">
        <input type="text" class="form__field" required formControlName="altPhone">
        <span class="errors" *ngIf="altPhone.invalid && valid">invalid alt Phone</span>
        <span class="form__field-placeholder">{{alt}}</span>
      </div>
      <div class="build-account__form-item login-form__radio build-account__form__radio">
        <label class="radio option">
          <input class="radio__input" name="radio-group" type="radio">
          <span class="radio__box"></span>
          <p class="build-account__form__radio-text">I'm an autorized representative of this entity</p>
        </label>
      </div>
      <!-- <div class="build-account__button"> -->
        <button type="submit" class="btn build-account__button-btn">
          <span class="btn-text">Save & Continue</span>
          <span class="btn-arrow">
            <i class="btn-arrow__icon"></i>
          </span>
        </button>
      <!-- </div> -->
    </form>
  </div>
</div>
<app-footer></app-footer>