*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.build-account {
  background: #FFFFFF;
  width 100%;
  max-width: 928px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  margin: 0 auto;
  padding: 0 84px;
  padding-bottom: 80px;
  padding-top: 11px;
  @media screen and (max-width: 650px){
      padding-left: 40px;
      padding-right: 40px;
      }
  @media screen and (max-width: 500px){
    padding-bottom: 100px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    }
  &-wrapper {
    width: 100%;
    background: #E4E4E4;
    padding: 40px 0px;
    margin: 0 auto;
    @media screen and (max-width: 950px){
      background-color: white;
      }
    @media screen and (max-width: 650px){
      padding: 0;
      }
  }
  &-head {
    margin-bottom: 80px;
      @media screen and (max-width: 650px){
        margin-bottom: 32px;
      }
    &-p {
      font-size: 14px;
      line-height: 18px;
      text-align: center;
      color: #5A6379;
      margin: 14px 0;
      @media screen and (max-width: 500px){
        margin-bottom: 12px;
      }
    }
  }
  &-title {
    font-weight: bold;
    font-size: 40px;
    line-height: 48px;
    text-align: center;
    color: #151515;
    margin-bottom: 8px;
    @media screen and (max-width: 500px){
      font-size: 24px;
      line-height: 32px;
      }
  }
  &-subtitle {
    width: 60%;
    margin: 0 auto;
    font-size: 14px;
    line-height: 18px;
    text-align: center;
    font-weight:normal;
    color: #5A6379;
    margin-bottom: 40px;
    @media screen and (max-width: 1200px){
      width: 80%;
    }
    @media screen and (max-width: 500px){
      font-size: 13px;
      line-height: 18px;
      width: 100%;
      margin-bottom: 27px;
    }
  }
  &__form {
    display: flex;
    justify-content: space-between;
    width:100%;
    padding: 30px 0;
    flex-wrap: wrap;
    &__radio {
      @media screen and (max-width: 480px){
        display:flex;
        justify-content:flex-start;
        width:70%;
        margin-left:30px;
      }
      &-text {
        margin-left:30px;
      }
    }
    &-width {
      width: 81%;
      @media screen and (max-width: 480px){
        min-width: 210px;
        margin-right:35px;
       }
    }
    &-item{
      width: 48%;
      margin-bottom: 36px;
      &-font {
        font-family: Montserrat;
        color: #5A6379;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 18px;
        padding: 0 15px;
      }
      @media screen and (max-width: 768px){
        width: 100%
      }
    }
    &__col {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      @media screen and (max-width: 480px){
        flex-direction: column;
        justify-content: center;
      }
      &__row {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-bottom: 30px;
        @media screen and (max-width: 480px){
          display:flex;
          justify-content:center;
        }
        &-select {
          width: 19%;
          height:48px;
          background: #F5F6FA;
          border-radius: 2px;
          border: none;
          outline: none;
          color: #5A6379;
          padding: 0 10px;
          font-family: Montserrat;
          color: #5A6379;
          font-style: normal;
          font-weight: normal;
          font-size: 14px;
          line-height: 18px; 
          &-option {
            font-family: Montserrat;
            color: #5A6379;
            font-style: normal;
            font-weight: normal;
            font-size: 14px;
            line-height: 18px;
          }
        }
        &-input {
          width:90%;
          margin-bottom: 5px;
          @media screen and (max-width: 480px){
            width: 257px;
          }
        }
      }
    }
  }
  &__button {
    display: flex;
    justify-content: flex-end;
    width:100%;
    @media screen and (max-width: 480px){
      display: flex;
      justify-content: center;
    }
    &-btn {
      width:259px;
      @media screen and (max-width: 480px){
            width: 334px;
          }
    }
  }
}

.center{
  display: flex
}
.errors
  width: 100%;
  z-index: 2;
  background: white;
  margin: 0;
  padding: 12px 0 0 0
  position: absolute;
  top: -30px;
  left: 0;
  font-size: 12px;
  text-transform: uppercase;
  color: red;