.login
  display flex
  &-aside
    padding: 0 10px
    width: 27%
    background: url('../../assets/img/Aside.png') no-repeat
    background-size: cover;
    height 100vh
    display: flex
    justify-content: center
    align-items: center
    flex-direction: column
    &__text
      font-family: Montserrat;
      font-style: normal;
      font-weight: 600;
      font-size: 22px;
      line-height: 32px;
      text-align: center;
      color: #FFFFFF;
  &-main
    width: 73% 
    &__header
      margin-top: 32px
      margin-right: 32px
      display: flex;
      align-items: center;
      justify-content: flex-end;
      &-logo
        display: none
      span 
        font-family: Montserrat;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 18px;
        text-align: center;
        color: #5A6379;
        margin-right: 20px
      button   
        border: 1px solid #B0B4BE;
        border-radius: 2px;
        background: none
        cursor pointer
        outline none
        font-family: Montserrat;
        font-style: normal;
        font-weight: 600;
        font-size: 12px;
        padding: 16px 52.5px
        color: #2C2E39;
  &-form
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    height: 88vh;
    h1 
      margin: 0
      font-family: Montserrat;
      font-style: normal;
      font-weight: bold;
      font-size: 40px;
      line-height: 40px;
      color: #151515;
      margin-bottom: 73px
    &__input
      margin-bottom: 36px
      &:nth-child(4)
        margin-bottom: 26px
    &__radio
      position relative
      margin-bottom: 40px


@media screen and (max-width: 768px)
  .login
    &-aside
      display: none
    &-main
      width: 100%  

@media screen and (max-width: 480px)
  .login
    &-main
      padding: 20px
      &__header
        margin: 0
        justify-content space-between
        &-logo
          display: block
        span 
          display: none 
    &-form
      width: 100%
      height 88vh
      form
        width: 100%
      h1 
        margin-bottom: 32px
      &__input
        width: 100%
      &__btn
        margin: 0 auto  
