<main class="login">
  <aside class="login-aside">
    <div class="login-aside__logo">
      <img src="../../assets/img/Logo.svg" alt="">
    </div>
    <div class="login-aside__text">
      Sing up to access this investment opportunity
    </div>  
  </aside>
  <section class="login-main">
    <div class="login-main__header">
      <div class="login-main__header-logo">
          <img src="../../assets/img/MobileLogo.svg" alt="">
      </div>
      <span>Already have an account?</span>
      <button>Sign in</button>
    </div>
    <div class="login-form">
      <form [formGroup]="myform"
      (ngSubmit)="onSubmit()">
        <h1>Sign Up</h1>
        <div class="login-form__input form-control">
          <input type="text" class="form__field" required formControlName="firstName">
          <span class="errors" *ngIf="firstName.invalid && valid">Name required</span>
          <span class="form__field-placeholder">Full Name</span>
        </div>
        <div class="login-form__input form-control">
          <input type="text"  class="form__field" required name="email" formControlName="email">
          <span class="errors" *ngIf="email.invalid && valid">invalid email</span>
          <span class="form__field-placeholder" >Email</span>
        </div>
        <div class="login-form__input form-control">
          <input type="password"  class="form__field" required name="password" formControlName="password">
          <span class="errors" *ngIf="password.invalid && valid">Password required</span>
          <span class="form__field-placeholder">Password</span>
        </div>
        <div class="login-form__radio">
            <label class="radio option">
                <input class="radio__input" name="radio-group" type="radio">
                <span class="radio__box"></span>
            I accept Terms of Use and Privacy Policy
          </label>
        </div>
        <!-- <a routerLink='/build-account'> -->
          <button type="submit" class="login-form__btn btn">
            <span class="btn-text">Sign Up</span>
            <span class="btn-arrow">
              <i class="btn-arrow__icon"></i>
            </span>
          </button>
        <!-- </a> -->
      </form>
    </div>
  </section>
</main>
