.form
  &-control
    position: relative;
    margin-bottom: 36px;
    @media screen and (max-width: 480px){
      display:flex;
      justify-content:center;
      margin: 0 auto 36px auto;
    }
  &__field
    font-size: 14px;
    box-sizing: border-box;
    width: 100%;
    padding: 14px 20px;
    height: 48px;
    background-color: #F4F6F6;
    color: #555556;
    border: none;
    font-weight: 500;
    font-family: Montserrat;
    outline: none;
    @media screen and (max-width: 480px){
      max-width: 335px;
    }
    &:focus
      background-color: #EEEFEF
    &-placeholder  
      color: #555556;
      transition: all 0.2s ease-in-out;
      position: absolute;
      font-size: 14px;
      font-weight: 300;
      font-family: Montserrat
      top: 15px;
      left: 19px;
      pointer-events: none;

.form__field:focus ~ .form__field-placeholder, .form__field--active ~ .form__field-placeholder, .form__field:not(:focus):valid ~ .form__field-placeholder{
    top: -24px;
    left: 0;
    font-size: 13px;
    color: #767575;
}