<app-header></app-header>
<div class="payment__wrapper">
  <form [formGroup]="myformP" (ngSubmit)="onSubmit()" class="payment">
      <div class="status">
          <p class="status__headline">90% Complete</p>
          <svg width="100%" height="8" viewBox="0 0 760 8" fill="none" xmlns="http://www.w3.org/2000/svg">
            <rect width="760" height="8" fill="#F5F6FA"/>
            <rect width="689" height="8" fill="#3BBF38"/>
          </svg>                          
      </div>
    <h1 class="payment__headline">Payment Details</h1>
    <div class="method">
    <div class="checkbox-wrapper method__item">
        <input
          type="radio"
          class="checkbox"
          value="checkboxLabel"
          id="checkboxLabel"
          name="radio-group"
        >
        <label class="label label-status" for="checkboxLabel" >PayPal</label>
      </div>
      <div class="checkbox-wrapper method__item">
          <input
            checked
            type="radio"
            class="checkbox"
            value="checkboxLabel"
            id="checkboxLabel2"
            name="radio-group"
          >
          <label class="label label-status" for="checkboxLabel2">Credit Card</label>
      </div>
      <div class="checkbox-wrapper method__item">
          <input
            type="radio"
            class="checkbox"
            value="checkboxLabel"
            id="checkboxLabel3"
            name="radio-group"
          >
          <label class="label label-status" for="checkboxLabel3">ACH</label>
      </div>
    </div>
    <div class="form-control form-control-payment form-control-width">
        <input id='cardNumber' type="text" class="form__field" formControlName="cardNumber" mask="0000 0000 0000 0000">
        <span class="form__field-placeholder">Card Number</span>
        <span class="errors" *ngIf="cardNumber.invalid && valid">Card number must be 16 characters</span>
    </div>
    <div class="payment__card">
      <div class="form-control form-control-holder form-control-payment">
          <input type="text" class="form__field" formControlName="cardHolderName">
          <span class="form__field-placeholder">Card Holder Name</span>
          <!-- <span class="errors" *ngIf="cardHolderName.invalid && valid">Name required</span> -->
      </div>
      <div class="form-control form-control-date form-control-payment">
          <input type="text" class="form__field" formControlName="expDate" mask="00 / 00">
          <span class="form__field-placeholder">Exp. Date</span>
          <span class="errors" *ngIf="expDate.invalid && valid">Invalid date</span>
      </div>
      <div class="form-control form-control-cvv form-control-payment">
          <input type="text" class="form__field" formControlName="cvv" mask="000">
          <span class="form__field-placeholder">CVV</span>
          <span class="errors" *ngIf="cvv.invalid && valid">Error</span>
      </div>
  </div>
  <div class="item">
      <p class="item__headline">BILLING ADDRESS</p>
      <label class="radio option">
          <input checked class="radio__input" name="radio-group-two" type="radio">
          <span class="radio__box"></span>
          Same as shipping address
      </label>
      <label class="radio option">
          <input class="radio__input" name="radio-group-two" type="radio">
          <span class="radio__box"></span>
          Use a different billing address
      </label>
    </div>
    <div class="payment__button-container">
        <button class="payment__button button-do-it-later"> Do it Later</button>
        <button class="btn payment__button-save">
            <span class="btn-text">Save & Continue</span>
            <span class="btn-arrow">
              <i class="btn-arrow__icon"></i>
            </span>
        </button>
      </div>
  </form>
</div>
<app-footer></app-footer>