*{
  box-sizing: border-box;
}
.payment{
  background: #FFFFFF;
  width 100%;
  max-width: 928px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  margin: 0 auto;
  padding: 0 84px;
  padding-bottom: 80px;
  padding-top: 11px;
  @media screen and (max-width: 650px){
      padding-left: 40px;
      padding-right: 40px;
      }
  @media screen and (max-width: 500px){
    padding-bottom: 83px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    }
  &__card{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    @media screen and (max-width: 600px){
      justify-content: flex-start;
      }
    }
  &__wrapper{
    width: 100%;
    background: #E4E4E4;
    padding: 40px 0px;
    margin: 0 auto;
     @media screen and (max-width: 950px){
      background-color: white;
      }
    @media screen and (max-width: 600px){
      padding: 0;
      }
    }
  &__headline{
    width: 90%;
    margin: 0 auto;
    padding: 0;
    font-weight: bold;
    font-size: 40px;
    line-height: 48px;
    text-align: center;
    color: #151515;
    margin-bottom: 40px;
    @media screen and (max-width: 500px){
        width: 100%;
        font-size: 24px;
        line-height: 32px;
        margin-bottom: 31px;
      }
  }
  .method{
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-bottom: 40px;
    &__item{
      width: 30%;
      }
    &__wrapper{
      // border: 1px solid #E0E4EB;
      // box-sizing: border-box;
      // border-radius: 2px;
      // width: 30%;
      }
    }
  .item{
    // width: 50%;
    flex: 1;
    &-label{
      margin-right: 60px;
      }
    &__headline{
      padding:0;
      font-weight: 500;
      font-size: 14px;
      line-height: 24px;
      letter-spacing: 1px;
      text-transform: uppercase;
      color: #151515;
      margin-bottom: 24px;
      margin-top: 0px;
      @media screen and (max-width: 500px){
        margin-top: -5px;
      }
    }
    &__wrapper{
      display: flex;
      width: 100%;
      }
  }
  &__button{
    @media screen and (max-width: 500px){
        order: 2;
      }
      &-link{
      width: 260px !important;
      @media screen and (max-width: 500px){
        width: 100% !important;
        }
      }
    &-container{
      display: flex;
      justify-content: space-between;
      margin-top: 45px;
       @media screen and (max-width: 500px){
          flex-direction: column;
        }
    }
    &-later{
      width: 132px;
      height: 56px;
      border: 1px solid #B0B4BE;
      box-sizing: border-box;
      border-radius: 2px;
      }
    &-save{
      max-width: 260px !important;
       @media screen and (max-width: 500px){
          order: 1;
          width: 100% !important;
          margin-bottom: 24px;
          max-width: 460px !important;
        }
      }
    }
    .status {
      margin-bottom: 75px;
      @media screen and (max-width: 650px){
        margin-bottom: 28px;
      }
      &__headline {
        font-size: 14px;
        line-height: 18px;
        text-align: center;
        color: #5A6379;
        @media screen and (max-width: 500px){
        margin-bottom: 12px;
        margin-top: 0;
      }
      }
  }
}
.form-control-payment{
  margin-bottom: 36px;
  }
.form-control-width{
  width: 100% !important;
  }
.form-control-holder{
  width: 55% !important;
  @media screen and (max-width: 600px){
      width: 100% !important;
    }
  }
.form-control-date{
  width: 20% !important;
  @media screen and (max-width: 600px){
      width: 174px !important;
      margin-right: 16px;
    }
  }
.form-control-cvv{
  width: 19% !important;
  @media screen and (max-width: 600px){
      width: 145px !important;
    }
  }
.switch-field{
  margin-bottom: 40px;
  }
