<app-header></app-header>
<div class="accreditation__wrapper">
  <form class="accreditation">
      <div class="status">
          <p class="status__headline">40% Complete</p>
          <svg width="100%" height="8" viewBox="0 0 760 8" fill="none" xmlns="http://www.w3.org/2000/svg">
            <rect width="760" height="8" fill="#F5F6FA"/>
            <rect width="264" height="8" fill="#3BBF38"/>
          </svg>                 
        </div>
    <h1 class='accreditation__headline'>Accreditation</h1>
    <p class='accreditation__text'>To be considered an accredited investor you must meet certain qualifications regarding your financial standing.</p>
    <div class="investor">
      <p class="investor__headline">are you an accredited investor?</p>
      <div class="radio__container">
        <label class="radio option">
          <input class="radio__input" name="radio-group"  type="radio">
          <span class="radio__box"></span>
          No, I am not an Accredited Investor
        </label>
        <label class="radio option">
          <input class="radio__input" name="radio-group" type="radio" checked>
          <span class="radio__box"></span>
          Yes, I am an Accredited Investor
        </label>
      </div>
      <p class="investor__headline">GOVERNMENT issued ID</p>
      <div class="investor__upload" id='drop-area' 
        (drop)="drop($event)"
        (dragover)="allowDrop($event);highlight($event)"
        (dragenter)="highlight($event)"
        (dragleave)="unhighlight($event)"
      >
        <svg class='upload__icon' width="14" height="18" viewBox="0 0 14 18" fill="none" xmlns="http://www.w3.org/2000/svg">
          <rect y="16" width="14" height="2" fill="#B0B4BE"/>
          <path d="M7.5 12.5L7.5 3.5L6.5 3.5L6.5 12.5L7.5 12.5Z" fill="white" stroke="#B0B4BE"/>
          <path d="M2.75736 6.24264L7 2L11.2426 6.24264" stroke="#B0B4BE" stroke-width="2"/>
        </svg>
        <!-- <span class="upload__text-green">Upload Picture </span> -->
        <label class="upload__text-green" for='upload'>Upload Picture </label>
        <p class="upload__text">  or drag it here
        </p>
        <input class='upload__input' 
        id='upload' 
        type="file"
        accept="image/png,image/jpeg"
        (change)="onFileChange($event)">         
      </div>
    </div>
    <!-- <input style="opacity: 0; z-index: -1;" class='upload__input' id='upload' type="file" accept="image/png,image/jpeg"
    onchange='document.querySelector(".uploadButton div").innerHTML = Array.from(this.files).map(f => f.name).join("<br />")'> -->
    <!-- <div class="uploadButton"> <div></div> </div> -->
    <div class="file">
      <p class='file__name'>{{fileName}} <span class='file__size'>{{fileSize}}</span> </p>
    </div>
    <div class="form-control form-control-accreditation">
        <input type="text" class="form__field" required>
        <span class="form__field-placeholder">Tax ID (SSN/EIN)</span>
    </div>
      <div class="accreditation__button-container">
        <button class="accreditation__button button-do-it-later"> Do it Later</button>
        <a class="accreditation__button-link" routerLink='/risk-asessment'>
          <button class="btn accreditation__button-save"> 
              <span class="btn-text">Save & Continue</span>
              <span class="btn-arrow">
                <i class="btn-arrow__icon btn-arrow__icon-bigger"></i>
              </span>
          </button>
      </a>

      </div>
  </form>
</div>
<app-footer></app-footer>