*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.accreditation{
  background: #FFFFFF;
  width 100%;
  max-width: 928px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  margin: 0 auto;
  padding: 0 84px;
  padding-bottom: 80px;
  padding-top: 11px;
  @media screen and (max-width: 650px){
      padding-left: 40px;
      padding-right: 40px;
      }
  @media screen and (max-width: 500px){
    padding-bottom: 100px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    }
  &__button{
    @media screen and (max-width: 500px){
        order: 2;
      }
    &-link{
      width: 260px !important;
      @media screen and (max-width: 500px){
        width: 100% !important;
        }
      }
    &-container{
      display: flex;
      justify-content: space-between;
      margin-top: 20px;
      @media screen and (max-width: 500px){
        flex-direction: column;
      }
    }
    &-later{
      width: 132px;
      height: 56px;
      border: 1px solid #B0B4BE;
      box-sizing: border-box;
      border-radius: 2px;
      }
    &-save{
      max-width: 260px !important;
      @media screen and (max-width: 500px){
        order: 1;
        width: 100% !important;
        margin-bottom: 24px;
        max-width: 390px !important;
      }
      .btn-arrow__icon-bigger{
        height: 12px;
        }
      }
    }
  &__wrapper{
    // max-width: 1442px;
    width: 100%;
    background: #E4E4E4;
    padding: 40px 0px;
    margin: 0 auto;
    @media screen and (max-width: 950px){
      background-color: white;
      }
    @media screen and (max-width: 650px){
      padding: 0;
      }
    }
  &__headline{
  font-weight: bold;
  font-size: 40px;
  line-height: 48px;
  text-align: center;
  color: #151515;
  margin-bottom: 8px;
  @media screen and (max-width: 500px){
    font-size: 24px;
    line-height: 32px;
    }
  }
  &__text{
    width: 60%;
    margin: 0 auto;
    font-size: 14px;
    line-height: 18px;
    text-align: center;
    color: #5A6379;
    margin-bottom: 40px;
    @media screen and (max-width: 1200px){
      width: 80%;
    }
    @media screen and (max-width: 500px){
      font-size: 13px;
      line-height: 18px;
      width: 100%;
      margin-bottom: 27px;
    }
    }
  // &__button{
  //   &-container{
  //     display: flex;
  //     justify-content: space-between;
  //     // @media screen and (max-width: 1090px){
  //     // flex-wrap: wrap;
  //     // justify-content: center;
  //     // }
  //   }
  //   &-later{
  //     width: 132px;
  //     height: 56px;
  //     border: 1px solid #B0B4BE;
  //     box-sizing: border-box;
  //     border-radius: 2px;
  //     }
  //   &-save{
  //     width: 259px;
  //     height: 56px;
  //     background: #0EC22B;
  //     }
  //   }
  .investor{
    display: flex;
    flex-direction: column;
    &__upload{
      background: #FFFFFF;
      border: 1px dashed #E0E4EB;
      box-sizing: border-box;
      display: flex;
      justify-content: center;
      padding: 36px 0;
      margin-bottom: 32px; 
      align-items: center;
      @media screen and (max-width: 500px){
        margin-top: -10px;
        margin-top: -10px;
      }
      .upload{
        &__icon{
          height: 16px;
          width: 14px;
          margin-right: 12px;
          }
        &__input{
          opacity: 0; 
          z-index: -1;
          width: 1px;
          height: 1px;
          overflow: hidden;
          clip: rect(0 0 0 0);
        }
        &__text{
          font-size: 14px;
          line-height: 16px;
          margin-left: 5px;
          @media screen and (max-width: 500px){
            display: none;
          }
          &-green{
            color: #0DC22B;
            font-size: 14px;
            @media screen and (max-width: 500px){
            font-size: 14px;
            line-height: 16px;
            }
            }
          }
      }
    }
    &__headline{
      font-weight: 500; //check
      font-size: 14px;
      line-height: 24px;
      letter-spacing: 1px;
      text-transform: uppercase;
      color: #151515;
      margin-bottom: 24px;
      @media screen and (max-width: 500px){
        margin-bottom: 28px;
      }
      }
      .option {
        display: block;
        margin-bottom: 0.5em;
        position: relative;
    }
    .radio {
      padding-left: 30px;
      color: #5A6379;
      &:first-child{
          margin-bottom: 24px;
        }
        &__input{
          position: absolute;
          width: 1px;
          height: 1px;
          overflow: hidden;
          clip: rect(0 0 0 0);
          }
        &__box{
          overflow: hidden;
          background-color: white;
          width: 20px;
          height: 20px;
          border: 1px solid #979797;
          position: absolute;
          left: 2px;
          border-radius: 50%;
          border-radius: 50%;
          box-sizing: border-box;
          }
        &__container{
          margin-bottom: 24px;
          }
    }
    .radio__input:checked + .radio__box {
      &:before{
        content: '';
        display: block;
        width: 12px;
        height: 12px;
        border-radius: 50%;
        background-color: #15bd0d;
        position: absolute;
        transform: translate(-50%,-50%);
        top: 50%;
        left: 50%;
        }
    }
    }
  .form-control-accreditation{
    width: 100% !important;
    margin-bottom: 40px;
    }
    .form{
      &-control{
        width: 364px;
        position: relative;
        margin-bottom: 36px;}
      &__field{
        font-size: 14px;
        box-sizing: border-box;
        width: 100%;
        padding: 14px 20px;
        height: 48px;
        background-color: #F4F6F6;
        color: #555556;
        border: none;
        font-weight: 500;
        font-family: Montserrat
        outline: none
        &:focus{
          background-color: #EEEFEF}
        &-placeholder{
          color: #555556;
          transition: all 0.2s ease-in-out;
          position: absolute;
          font-size: 14px;
          font-weight: 300;
          font-family: Montserrat
          top: 15px;
          left: 19px;
          pointer-events: none;}
      }
    }
    .form__field:focus ~ .form__field-placeholder, .form__field--active ~ .form__field-placeholder, .form__field:not(:focus):valid ~ .form__field-placeholder{
        top: -24px;
        left: 0;
        font-size: 13px;
        color: #767575;
    }
    .status {
      margin-bottom: 80px;
      @media screen and (max-width: 650px){
        margin-bottom: 32px;
      }
      &__headline {
        font-size: 14px;
        line-height: 18px;
        text-align: center;
        color: #5A6379;
        margin: 14px 0;
        @media screen and (max-width: 500px){
        margin-bottom: 12px;
      }
      }
  }
  .file{
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 1px;
    margin-left: 40px;
    color: #151515;
    margin-bottom: 24px;
    &__size{
      margin-left: 30px;
      color: #5a6379;
      }
    }
}

