*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.terms-of-use {
background: #FFFFFF;
  width 100%;
  max-width: 928px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  margin: 0 auto;
  padding: 0 84px;
  padding-bottom: 80px;
  padding-top: 11px;
  @media screen and (max-width: 650px){
      padding-left: 40px;
      padding-right: 40px;
      }
  @media screen and (max-width: 500px){
    padding-bottom: 100px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    }
  &-wrapper {
    width: 100%;
    background: #E4E4E4;
    padding: 40px 0px;
    margin: 0 auto;
    @media screen and (max-width: 950px){
      background-color: white;
      }
    @media screen and (max-width: 650px){
      padding: 0;
      }
  }
  &-head {
    margin-bottom: 80px;
      @media screen and (max-width: 650px){
        margin-bottom: 32px;
      }
    &-p {
      font-size: 14px;
        line-height: 18px;
        text-align: center;
        color: #5A6379;
        margin: 14px 0;
        @media screen and (max-width: 500px){
        margin-bottom: 12px;
      }
    }
  }
  &-title {
    font-weight: bold;
    font-size: 40px;
    line-height: 48px;
    text-align: center;
    color: #151515;
    margin-bottom: 30px;
    @media screen and (max-width: 500px){
      font-size: 24px;
      line-height: 32px;
      }
  }
  &-subtitle {
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 24px;
    letter-spacing: -0.375px;
    color: #2C2E39;
    margin: 40px 0 30px 0;
    @media screen and (max-width: 1200px){
      width: 80%;
    }
    @media screen and (max-width: 480px){
      display:none;
    }
  }
  &-p {
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: #2C2E39;
    margin:0;
    @media screen and (max-width: 480px){
      display:none;
    }
  }
  &__content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    &-list {
      padding: 0;
      margin:0;
    }
    &-title {
      font-family: Montserrat;
      font-style: normal;
      font-weight: 500;
      font-size: 24px;
      line-height: 24px;
      letter-spacing: -0.375px;
      color: #2C2E39;
      margin-bottom:16px;
    }
    &-text {
      list-style: none;
      font-family: Montserrat;
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      padding: 0;
      margin: 0;
      line-height: 24px;
      color: #2C2E39;
      text-align: left;
    }
  }
  &__radio {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding-top:15px;
    width:100%;
    border-bottom: 1px solid #F5F6FA;
    @media screen and (max-width: 480px){
      font-size: 14px;
    }
    &-text {
      margin-left:30px;
    }
    &-item {
      margin-right: 30px;
    }
  }
  &__button {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items:center;
    padding: 50px 0;
    width:100%;
    a {
      width: auto;
    }
    @media screen and (max-width: 480px){
      display:flex;
      flex-direction:column-reverse;
      justify-content:center;
      padding: 0;
    }
    &-btn {
      width:259px;
      @media screen and (max-width: 480px){
        width:334px;
        margin: 0 auto;
      }
    }
    &-later {
      @media screen and (max-width: 480px){
        margin-top:30px;
        width:335px;
      }
    }    
  }
}
