<app-header></app-header>
<div class="terms-of-use-wrapper">
  <div class="terms-of-use">
    <div class="terms-of-use-head">
      <p class="terms-of-use-head-p">80% Complete</p>
      <svg width="100%" height="8" viewBox="0 0 760 8" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect width="760" height="8" fill="#F5F6FA"/>
        <rect width="606" height="8" fill="#3BBF38"/>
        </svg>        
    </div>
    <h1 class="terms-of-use-title">{{title}}</h1>
    <div class="terms-of-use__content">
      <h2 class="terms-of-use__content-title">{{subtitle}}</h2>
      <ul class="terms-of-use__content-list">
        <li *ngFor="let text of content" class="terms-of-use__content-text">{{text.text}}</li>
      </ul>
    </div>
    <div class="terms-of-use__radio">
        <label class="radio option terms-of-use__radio-item">
          <input class="radio__input" name="radio-group"  type="radio">
          <span class="radio__box"></span>
          <p class="terms-of-use__radio-text">Accept</p>
        </label>
        <label class="radio option terms-of-use__radio-item">
            <input class="radio__input" name="radio-group" type="radio" checked>
            <span class="radio__box"></span>
            <p class="terms-of-use__radio-text">Decline</p>
        </label>
      </div>
    <div class="terms-of-use__content">
      <p class="terms-of-use-subtitle">{{subtitle2}}</p>
      <p class="terms-of-use-p">The Platform collects certain information you elect to share when creating an account on the Platform, which may include your name</p>
    </div>
    <div class="terms-of-use__button">
        <button class="terms-of-use__button-later button-do-it-later"> Do It Later</button>
        <a routerLink='/payment'>
        <button class="btn terms-of-use__button-btn">
            <span class="btn-text">Save & Continue</span>
            <span class="btn-arrow">
              <i class="btn-arrow__icon"></i>
            </span>
          </button>
        </a>
    </div>
  </div>
</div>
<app-footer></app-footer>
