/* input */
.form {
  &-control {
    width: 364px;
    position: relative;
  }

  &__field {
    font-size: 14px;
    box-sizing: border-box;
    width: 100%;
    padding: 14px 20px;
    height: 48px;
    background-color: #F4F6F6;
    color: #555556;
    border: none;
    font-weight: 500;
    font-family: Montserrat;
    outline: none;

    &:focus {
      background-color: #EEEFEF;
    }

    &-placeholder {
      color: #555556;
      transition: all 0.2s ease-in-out;
      position: absolute;
      font-size: 14px;
      font-weight: 300;
      font-family: Montserrat;
      top: 15px;
      left: 19px;
      pointer-events: none;
    }
  }
}

.form__field:focus ~ .form__field-placeholder, .active ~ .form__field-placeholder, .form__field:not(:focus):valid ~ .form__field-placeholder {
  top: -24px;
  left: 0;
  font-size: 13px;
  color: #767575;
}

/* Radio */
.radio {
  padding-left: 30px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  color: #5A6379;
  position: relative;
  //&-border{
  //   width: 100%;
  //   border: 1px solid #E0E4EB;
  //   border-radius: 2px;
  //   &:checked{
  //     border: 2px solid green;
  //     }
  // }

  &:first-child {
    margin-bottom: 24px;
  }

  &__input {
    position: absolute;
    width: 1px;
    height: 1px;
    overflow: hidden;
    clip: rect(0 0 0 0);
  }

  &__box {
    overflow: hidden;
    background-color: white;
    width: 20px;
    height: 20px;
    border: 1px solid #979797;
    position: absolute;
    left: 2px;
    border-radius: 50%;
    border-radius: 50%;
    box-sizing: border-box;
  }

  &__container {
    margin-bottom: 24px;
  }
}

.radio__input:checked + .radio__box {
  &:before {
    content: '';
    display: block;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: #15bd0d;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
  }
}


/* btn */

.btn{
  cursor: pointer;
  //max-width: 216px;
  width: 100%;
  height: 56px;
  font-size: 16px;
  background-color: #0ec22b;
  border: none;
  color: #ffffff;
  letter-spacing: 0.13px;
  padding: 0px ;
  margin: 0;
  display: flex;
  align-items: center;
  font-weight: 600;
  font-family: "Montserrat", sans-serif;
  text-align: center;
  &:hover{
    background-color: #1fa236  
  }
  &:hover .btn-arrow__icon{
    animation: arrow 1s ease infinite;
    margin-left: 10px;
  }
  &-text{
    width: 100%;
    position: relative;
    font-weight: 600;
  }
  &-arrow{
    max-width: 56px;
    width: 100%;
    height: 56px;
    background-color: rgba(10, 55, 16, 0.1);
    position: relative;
    &__icon{
      background: url('./assets/img/Arrow.svg') no-repeat;
      width: 19px;
      height: 14px;
      z-index: 1;
      position: absolute;
      padding: 7px 1px;
      top: 40%;
      right: 17px;
    }
  }
}

@keyframes arrow {
  0%,
  100% {
    transform: translate(0, 0); }
  50% {
    transform: translate(10px, 0);}}
/* You can add global styles to this file, and also import other style files */
.button-do-it-later{
  font-family: Montserrat;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  text-align: center !important;
  color: #5A6379;
  border: 1px solid #B0B4BE;
  box-sizing: border-box;
  border-radius: 2px;
  padding: 18px 31px !important;
  cursor: pointer;
  background: white;
  }

/* checkbox */
.option {
    display: block;
    margin-bottom: 22px;
    font-size: 14px;
    line-height: 18px;
    color: #5A6379;
}

/* Check */

.check {
  padding-left: 32px;
}

.check__input {
    position: absolute;
    width: 1px; 
    height: 1px;
    overflow: hidden;
    clip: rect(0 0 0 0);
}

.check__box {
    position: absolute;
    // margin-top: 0.5em;
    margin-left: -32px;
    width: 20px;
    height: 20px;
    overflow: hidden;
    background-color: white;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    border: 1px solid #939496;
}

/* Checked */

.check__input:checked + .check__box {
    background-color: #3BBF38;
    background-image: url(https://cdn.glitch.com/d6162378-5823-4160-a555-3d9789bd2b92%2Fcheck.svg?1550563475518);
    background-size: 10px;
}

@media screen and (max-width: 480px) 
  .form
    &__field
      &-placeholder
        font-size: 12px

.switch-field {
	display: flex;
  justify-content: space-between;
	margin-bottom: 36px;
	overflow: hidden;
  margin: 0;
  border-collapse: collapse;
  input {
	position: absolute !important;
	clip: rect(0, 0, 0, 0);
	height: 1px;
	width: 1px;
	border: 0;
	overflow: hidden;
  }
  label {
	background-color: #ffffff;
	color: #484846;
	font-size: 13px;
  font-weight: 500;
	line-height: 1;
	text-align: center;
	padding: 19px 0px;
	// border: 1px solid rgba(72, 72, 70, 0.2);
	// box-shadow: 0 2px 2px rgba(0, 0, 0, 0.04);
  border-collapse: collapse;
  // flex: 1;
  width: 30%; 
  border-radius: 2px;
  border: 1px solid #E0E4EB;
  span{
    font-size: 11px;
  }
  &:hover{
	  cursor: pointer;
    }
  }
  input:checked + label {
	// background-color: #a5dc86;
	box-shadow: none;
  border: 1px solid #0DC22B;
  }
  label:first-of-type {
  	// border-radius: 8px 0 0 8px;
  }
  label:last-of-type {
    // border-radius: 0 8px 8px 0;
    margin-right: 0px;
  }
}
a{
  text-decoration: none;
  display: block;
  width: 100%; 
}

.label-status {
  width: 100%;
  display: block;
  cursor: pointer;
  padding: 24px;
  border-radius: 8px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.04);
  border: solid 0.5px #48484633;
  background-color: #ffffff;
  position: relative;
  transition: .3s;
  border: 1px solid #E0E4EB;
  box-sizing: border-box;
  border-radius: 2px;
  @media screen and (max-width: 800px){
     font-weight: bold;
      font-size: 14px;
      line-height: 24px;
      letter-spacing: -0.5px;
      color: #2C2E39;
      text-align center;
      padding: 26px 0;
      padding-left: 0 !important;
    }
}

.checkbox {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  &-wrapper {
    position: relative;
  }
  &:checked + .label {
    border: 1px solid #0DC22B;
    box-sizing: border-box;
    border-radius: 2px;
  }
  
}
.checkbox:checked ~ .label,
.checkbox:checked ~ .label-status {
  transition: .3s;
  border: 1px solid #0DC22B;
}
.checkbox:checked ~ .label:after {
  transition: .3s;
  content: '';
  display: block;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #15bd0d;
  position: absolute;
  top: 28px;
  left: 24px;
  @media screen and (max-width: 800px){
     content: '';
     display: none;
    }
}
.checkbox ~ .label:before {
  transition: .3s;
  content: ''; 
  position: absolute;
  margin: auto;
  width: 20px;
  height: 20px;
  border: 1px solid #979797;
  position: absolute;
  border-radius: 50%;
  box-sizing: border-box;
  transform: translate(-30px);
   @media screen and (max-width: 800px){
     content: '';
     display: none;
    }
}
.label-status{
    padding-left: 50px;
    }

.errors
  font-family: Montserrat;
  width: 100%;
  z-index: 2;
  background: white;
  margin: 0;
  padding: 12px 0 0 0
  position: absolute;
  top: -30px;
  left: 0;
  font-size: 14px;
  text-transform: uppercase;
  color: red;
  @media screen and (max-width: 670px){
     font-size: 12px;
    }

.highlight {
  background-color: lighten(#0dc22b, 95%)  !important;
  border: 1px dashed #15bd0d !important;
}